In [5]:
import sys
sys.path.append("..")

from extract_data.extract_data import * # Readind and initialization of the datasets
from extract_data.dataframes.strata import split_into_stratas

In [6]:
dfConsumo[["V9005", "V9007"]]

         V9005  V9007
0          1.0   61.0
1          NaN    NaN
2          1.0   13.0
3          NaN    NaN
4          2.0    7.0
...        ...    ...
1175372    6.0   62.0
1175373    2.0   62.0
1175374    1.0   46.0
1175375    3.0   38.0
1175376    6.0   19.0

[644610 rows x 2 columns]

In [7]:
dfPerson.head()

,PESSOA,ENERGIA_KCAL,CHOTOT,PTN,LIP,FIBRA,COLEST,CALCIO,SODIO,POTASSIO,...,VITC,VITA_RAE,COBRE,FOLATO,FOSFORO,ZINCO,UF,RENDA_TOTAL,ESTRATO_POF,EER
0,110000016.0#1.0#12.0#2.0,1710.90,201.76700,93.79800,59.77300,5.64800,345.50300,218.4860,1532.82000,1420.46300,...,32.316,158.0360,0.58700,120.33600,859.45900,6.04400,11.0,4353.51,1101.0,2022.16
1,110000016.0#1.0#12.0#3.0,1447.55,211.72850,66.35600,38.40600,6.69200,233.74300,181.5510,1124.75600,1470.25250,...,13.780,64.9340,0.44800,97.87300,624.65000,4.20600,11.0,4353.51,1101.0,1940.10
2,110000016.0#1.0#13.0#1.0,1654.63,214.56008,72.97622,63.32802,31.54542,184.57752,438.5491,2232.17768,3639.49704,...,67.380,373.1730,1.68996,324.07148,978.20546,7.35082,11.0,1367.63,1101.0,2003.41
3,110000016.0#1.0#2.0#1.0,1517.45,222.61650,62.84800,47.73160,26.33600,84.57700,211.9484,1679.27420,1827.59990,...,7.803,570.9620,1.50800,203.46180,689.42920,10.94800,11.0,3855.34,1101.0,2388.84
4,110000016.0#1.0#2.0#2.0,1307.95,206.18650,42.30650,40.17660,23.36950,46.93100,199.1539,1411.21920,1418.90640,...,6.480,481.5435,1.32150,192.10080,511.20520,6.86450,11.0,3855.34,1101.0,1765.61